# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Python environment and tools
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs and databases
*.log
*.sqlite3
*.db

# FastAPI / Uvicorn / Gunicorn runtime
*.pid
*.pid.lock

# Testing & coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment files
.env
.env.*

# MyPy & Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pylint.d/

# Jupyter Notebook
.ipynb_checkpoints/

# Others
*.bak
*.tmp
*.orig
